:root {
    --accent-color: #2196F3;
}

* {
    margin-top: 0;
    padding: 0;
}

html,
body, 
header,
footer,
.port-main {
    font-family: 'Roboto';
    font-style: normal;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style-type: NONE;
    font-size: 0;
}

/*
header {
    height: 80px;
    display: flex;
    flex-direction: row;
    color: #ECECEC;
    align-items: center;
    vertical-align: auto;
}==================== HEADER ====================*/


.box {
    width: 1600px;
    height: 81px;
    /*padding-top: 32px;*/
    padding-left: 215px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 145px;
    
    margin-right: 93px;
}

.main-logo {
    margin-top: 20px;
}

.logo:hover,
.logo:focus {
    line-style: solid;
    line-color:var(--accent-color);
    text-decoration: underline;
}

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: #2196F3;
}

.logo-studio {
    color: #000000;
}

.navigation {
    width: 294px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 331px 0 0;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-right: 50px;

    color: #212121;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.email {    
    width: 135px;    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-right: 50px;

    color: #757575;
}

.tel {
    width: 122px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: #757575;
}

/*.tel:hover, */
.email:hover,
.email:focus {
    color: var(--accent-color);
}


/*==================== /HEADER ====================*/

/*==================== MAIN ====================*/
body,
main {
    display: flex;
    flex-direction: column;
}

.hero {
    width: 1600px;
    height: 600px;
    background: #2F303A;
    padding-top: 200px;
    align-items: center;
    margin-bottom: 94px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0%;
    margin-bottom: 30px;
}

.button {
    width: 200px;
    height: 50px;
    margin-left: 700px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.button:hover,
.button:focus {
    background-color: tomato;
    border-color: #FFFFFF;
}

.destination {
    width: 1170px;
    height: 101px;
    margin-left: 215px;
    margin-bottom: 94px;
}

.destination-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-left: 0;
    font-size: 0;
}

.destination-box {
    width: 270px;
    height: 101px;
    /*margin-right: 30px;*/
    font-size: 1rem;
}

.title-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #212121;
}

.link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.business-photo {
    width: 1170px;
    height: 386px;
    margin-left: 215px;
    margin-bottom: 94px;
}

.business-photo-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: #212121;
}

.business-photo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.business-photo-img {
    width: 370px;
}
/*
.business-photo-img:last-child {
    margin-right: 0px;
}*/

.personal {
    width: 1600px;
    height: 648px;
    background-color: #F5F4FA;
    padding-top: 94px;
}

.personal-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: #212121;
}

.team {
    width: 1170px;
    height: 368px;
    margin-left: 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-photo {
    margin-bottom: 30px;
}
/*
.own-data {
    margin-right: 30px;
}*/

.own-data:last-child {
    margin-right: 0px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    color: #212121;
}

.job-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: #757575;
}
/*==================== /MAIN ====================*/

/*==================== FOOTER ====================*/
.footer {
    position: absolute;
        top: 2000px;
    width: 1600px;
    height: 252px;
    background-color: #2F303A;
    padding-left: 215px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.logo-footer {
    margin-bottom: 20px;
}

.logo-studio-footer {
    color: #FFFFFF;
}

.address {
    width: 231px;
    height: 81px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.address-link {
    width: 231px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.email-footer {
    margin: 10px 0 8px 0;
}

.address-city {
    color: #FFFFFF;
}
/*==================== /FOOTER ====================*/









/*==================== PORTFOLIO-MAIN ====================*/
.port-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.port-portfolio {
    color: #2196F3;
}

.port-main {
    width: 1170px;
    height: 1360px;
    margin: 94px 215px 93px 215px;
}

.port-filters {
    width: 611px;
    height: 54px;
    margin-left: 280px;
    margin-bottom: 34px;
    display: flex;
    flex-direction: row;
    height: 38px;
}

.port-button {
    height: 38px;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    margin-right: 8px;
    border-radius: 4px;
    border: #F5F4FA;
    
    color: #212121;
}

.port-button:last-child {
    margin-right: 0;
}

.port-button:hover,
.port-button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.port-all {
    width: 73px;
}

.port-web {
    width: 128px;
}

.port-apps {
    width: 145px;
}

.port-design {
    width: 101px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.port-marketing {
    width: 130px;
}

.port-projects {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: flexbox layout;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0;
}

.port-project {
    width: 370px;
    height: 404px;
  /*  margin-right: 30px;*/
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid ;
    border-color: #FFFFFF #FFFFFF #EEEEEE #FFFFFF ;
}

.port-project:nth-last-of-type(-n+3) {
    margin-bottom: 0px;
}

.photo {
    width: 370px;
    height: 294px;
    margin-bottom: 20px;
}

.port-title-link {
    width: 322px;
    height: 70px;
    margin: 0px 24px 20px 24px;
}

.port-title {
    width: 322px;
    height: 36px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}

.port-link {
    width: 322px;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: #757575;
}

/*==================== /PORT-MAIN ====================*/

/*==================== PORT-FOOTER ====================*/
.footer.port-footer {
    position: absolute;
    top: 1627px;
}

/*==================== /PORT-FOOTER ====================*/